@model ArcEconomics.Models.ContactInfo

<address>
    <strong>@Model.CompanyName</strong><br>
    @Model.Street<br>
    @Model.City, @Model.Province, @Model.PostalCode<br>
    <abbr title="Phone">P:&nbsp;</abbr>@Model.Phone
</address>

<address>
    <strong>@Model.FirstName @Model.LastName</strong><br>
    <a href="mailto:@Model.Email">@Model.Email</a>
</address>