@model ArcEconomics.Models.ContactInfo

<address>
    <strong>@Model.CompanyName</strong><br />
    @Model.Street<br />
    @Model.City, @Model.Province<br />
    @Model.Country @Model.PostalCode
</address>

<address>
    <abbr title="Phone">P:</abbr>&nbsp;<a href="tel:@Model.Phone">@Model.Phone</a><br />
    <abbr title="Fax">F:</abbr>&nbsp;<a href="tel:@Model.Fax">@Model.Fax</a>
</address>

<address>
    <strong>@Model.FirstName @Model.LastName</strong><br />
    <a href="mailto:@Model.Email">@Model.Email</a>
</address>