@model ArcEconomics.Models.ContactInfo

<address>
    <strong>@Model.CompanyName</strong><br />
    @Model.Street<br />
    @Model.City, @Model.Province<br />
    @Model.Country @Model.PostalCode<br />
    <abbr title="Phone">P:</abbr>&nbsp;@Model.Phone<br />
    <abbr title="Fax">F:</abbr>&nbsp;@Model.Fax
</address>

<address>
    <strong>@Model.FirstName @Model.LastName</strong><br />
    <a href="mailto:@Model.Email">@Model.Email</a>
</address>