@model ArcEconomics.Models.ContactInfo

    <address>
        <input type="text" value="@Model.Street" placeholder="Street" id="Street" />
        <input type="text" value="@Model.City" placeholder="City" id="City" />
        <input type="email" value="@Model.Province" placeholder="Province" id="Province" />
        <input type="text" value="@Model.PostalCode" placeholder="PostalCode" id="PostalCode" />
        <input type="text" value="@Model.Phone" placeholder="Phone" id="Phone" />
    </address>

    <address>
        <input type="text" value="@Model.FirstName" placeholder="FirstName" id="FirstName" />
        <input type="text" value="@Model.LastName" placeholder="LastName" id="LastName" />
        <input type="email" value="@Model.Email" placeholder="Email" id="Email" />
    </address>
    
    <button id="contactinfo-save">Save</button>