@model ArcEconomics.ViewModels.ViewModelBase
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Arc Economics</title>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/themes/bootstrap/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @Html.Partial("_LoginPartial")

    <nav class="navbar navbar-default" role="navigation">

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                @foreach (ArcEconomics.Models.DropBoxDirectory dir in Model.RootDropBoxDirectory.ChildDirectories)
                {
                    <li>@Html.ActionLink(dir.Name, "Directory", new { id = dir.Name })</li>
                }
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

            </ul>
        </div>
    </nav>

    @RenderBody()

    @RenderSection("featured", false)

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
