@model ArcEconomics.ViewModels.DirectoryViewModel

<section id="dropbox-explorer" class="well">

    @{

        int fileCount = Model.CurrentDropBoxDirectory.ChildFiles.Count();
        int dirCount = Model.CurrentDropBoxDirectory.ChildDirectories.Count();

    }

    @if (fileCount + dirCount == 0)
    {
        <p>This folder is empty.</p>
    }
    else
    {

        <div class="row">

            <div class="col-lg-6">

                <ul class="list-unstyled">
                    @foreach (ArcEconomics.Models.DropBoxFile file in Model.CurrentDropBoxDirectory.ChildFiles)
                    {
                        <li>
                            @MyHelpers.FileActionLink(@file.Name, @file.PublicUrl)
                        </li>
                    }
                </ul>

            </div>

            <div class="col-lg-6">

                <ul class="list-unstyled">
                    @foreach (ArcEconomics.Models.DropBoxDirectory dir in Model.CurrentDropBoxDirectory.ChildDirectories)
                    {
                        <li>
                            @MyHelpers.DirectoryActionLink(@dir.Name, "Directory", new { controller = "Home", path = dir.Path }, this as WebViewPage)
                        </li>
                    }
                </ul>

            </div>

        </div>

    }

</section>